body, html {
font-family: 'Open Sans Condensed', sans-serif;
    color: #777;
    height: 100%;
    margin: 0;
    background-size: cover;
    background-attachment: local;
    background-repeat: no-repeat;
    z-index: 1;
}
.navbar-nav .nav-link {
    color: white;    
}

.navbar-nav .nav-link:hover {
    border-bottom: 1px solid gray;
}

.content {
    color: #777;
    background-color: aliceblue;
    text-align: justify;
    padding: 50px 80px;
}

header {
    background: rgba(10,10,10,.1);
}

.navbar-nav .nav-item .nav-link:hover {
    margin-bottom: 1px solid gray
}

nav.navbar-transparente {
    padding: 15px 0px;
    background: rgba(0,0,0,0.6);
}

.capa {
    text-align: center;
}

.car1 h1 {
    position: absolute;
    justify-content: center;
}

h2 a {
font-family: 'Felipa', cursive;
    display: block;
    background: rgba(00,00,00,.5); 
    text-decoration: none;
    color: #f1f1f1;
    font-weight: 100;
}

h2 a:hover {
    text-decoration: none;
    color: white;
} 

h3 {
    text-transform: uppercase;
    color: #555;
    text-align: center;
}

/*Efeito parallax *****************/

.box1, .box2, .box3, .box4, .car1 .car2 .car3 .car4{
    /*important body height = 100%;*/
    position: relative;
    height: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.box1 {
    background-image: url(../imagens/long_desert_road_black_and_white-wallpaper-1366x768.jpg);
}

.car1 img {
    background-size: contain;
    background-repeat: no-repeat;
    height: 80%;
    z-index: 0;
}

.car2 img {
    background-size: contain;
    background-repeat: no-repeat;
    height: 80%;
}

.car3 img {
    background-size: contain;
    background-repeat: no-repeat;
    height: 80%;
}

.car4 img {
    background-size: contain;
    background-repeat: no-repeat;
    height: 80%;
}

.box2 {
    background-image: url(../imagens/imagem4.jpg);
}

.box3 {
    background-image: url(../imagens/imagem4.jpg);
}

.box4 {
    background-image: url(../imagens/imagem4.jpg);
}

/*-------------*/
/*
.title-content {
    position: absolute;
    left: 0%;
    top: 45%;
    width: 100%;
    text-align: center;
}
*/
.title {
    color: #fff;
    background-color: #111;
    padding: 12px;
    font-size: 18px;
    letter-spacing: 5px;
}