body, html {
font-family: 'Open Sans Condensed', sans-serif;
    color: #777;
    height: 100%;
    margin: 0;
    background-size: cover;
    background-attachment: local;
    background-repeat: no-repeat;
    z-index: 1;
    overflow-x: hidden;
}
.navbar-nav .nav-link {
    color: white;    
}

header .navbar-nav .nav-link:hover {
    border-bottom: 1px solid gray;
}

.content {
    color: #777;
    background-color: aliceblue;
    text-align: justify;
    padding: 50px 80px;
}

header {
    background: rgba(10,10,10,.1);
}

.navbar-nav .nav-item .nav-link:hover {
    margin-bottom: 1px solid gray;
}

nav.navbar-transparente {
    padding: 15px 0px;
    background: rgba(0,0,0,0.6);
}

.capa {
    text-align: center;
}

.car1 h1 {
    position: absolute;
    justify-content: center;
}

h2 a {
    display: block;
    background: rgba(00,00,00,.5); 
    text-decoration: none;
    color: #f1f1f1;
    font-weight: 100;
}

h2 a:hover {
    text-decoration: none;
    color: white;
} 

h3 {
    text-transform: uppercase;
    color: #555;
    text-align: center;
}

/*Efeito parallax *****************/

.box1, .box2, .box3, .box4, .box5 {
    /*important body height = 100%;*/
    position: relative;
    height: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-size: 99%;

}

.box1 {
    background-image: url(../imagens/long_desert_road_black_and_white-wallpaper-1366x768.jpg);
    background-size: cover;
}

.car img {
    background-size: contain;
    background-repeat: no-repeat;
    height: 80%;
}

.box2 {
    background-image: url(../imagens/sedan-black-sclass.png);
}

.box3 {
    background-image: url(../imagens/sedan-red.png);
}

.box4 {
    background-image: url(../imagens/BlueMercedes-Benz-PNG-Photo.png);
}

.box5 {
    background-image: url(../imagens/BrownMercedes.png);
}

/*-------------*/

.title-content {
    position: absolute;
    left: 0%;
    top: 45%;
    width: 100%;
    text-align: center;
    opacity: 0.5
}

.title {
    color: #f1f1f1;
    padding: 12px;
    font-size: 2em;
    letter-spacing: 5px;
}



/*/ Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    body {
        height: 70%;
    }
    
    .car img {
        max-height: 140px;
    }
    
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    body {
        height: 85%;
    }
    
    .car img {
        max-height: 255px;
    }
    
    
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
     .navbar-brand {
        border: 1px solid blue
    }
    body {
        height: 90%;
    }
    
    .car img {
        max-height: 290px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    
    .navbar-brand {
        border: 1px solid red
    }
    body {
        height: 92%;
    }
    .car img {
        max-height: 450px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    
    .car img {
        max-height: 550px;
    }
}